matplotlib==3.3.4
opencv_python==4.5.1.48
kornia==0.5.5
tqdm==4.59.0
numpy==1.19.0
apscheduler==3.7.0
glm==0.4.3
omegaconf==2.1.0
pandas==1.3.0
PyOpenGL==3.1.5
PySide2==5.15.2
scipy==1.6.1
segmentation-models-pytorch==0.2.0
tensorboardX==2.4
wandb==0.12.2
pytorch-lightning==1.3.8
dataclasses==0.6
omegaconf==2.1.0
segmentation_models_pytorch==0.2.0
pandas==1.3.0
scikit-image==0.18.2